<header>
    <div class="navbar bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <!--icon-->
            <i style="font-size: 40px;color: white;" class="fas fa-shipping-fast">&nbsp;
            </i>

            <strong style="color: white;font-size: 30px;">Flipkart</strong>
            <!--search Bar-->
            <div class="form-group">
                <input type="text" class="form-control" placeholder="seacrh products">
            </div>
            <!--search Icon-->
            <div class="fas fa-search search-icon"></div>

        </div>
        <button class="btn btn-primary">
            <i  style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">5</div>
        </button>
    </div>
</header>